html {
  font-size: 62.5%;
  margin: 0;

  height: 100%;
  width: 100%;
}

body {
  font-size: 1.6rem;
  width: 100%;
  margin: 0;
}

/* Navbar */

a {
  text-decoration: none;
  color: #000;
}
nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: flex-end;
}
.nav--item {
  display: inline-block;
  margin: 0 8px;
}

.nav--item__img {
  width: 40px;
  height: 40px;
}

.nav--item__img img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 10%;
}

.mainPartContainer {
  margin: 15px;
}

.inputContainer {
  margin-top: 25px;
  width: 570px;
  height: 40px;
}

.inputContainer--Icon {
  object-fit: contain;
  width: 20px;
  height: 20px;
  position: relative;
  top: 35px;
}

.inputContainer--icon__glass {
  left: 10px;
}

.inputContainer--icon__mic {
  left: 515px;
}

.inputContainer input {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  outline: none;
  border: 1px solid rgb(183, 197, 224);
  border-radius: 25px;
  font-size: 1.8rem;
  padding: 0 3.5rem;
  box-sizing: border-box;
}

.buttonsContainer button {
  outline: none;
  border: none;
  background: #f8f9fa;
  width: 140px;
  height: 35px;
  border-radius: 8px;
  font-size: 1.4rem;
}

.langChangerContainer span {
  font-size: 1.35rem;
}

.langChangerContainer button {
  background: none;
  outline: none;
  border: none;
  font-size: 1.35rem;
  color: blue;
}

/* Footer */

footer {
  width: 100%;
  background: #f2f2f2;
  height: 90px;
  position: absolute;
  bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.footer--partUpper {
  border-bottom: 1px solid #dadce0;
  height: 50%;
}

.footer--partLower {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: stretch;
  height: 50%;
}

.footer--partLower__Half {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
}

.footer--partLower__Right {
  justify-content: flex-end;
}

.footer--partUpper p {
  margin-left: 20px;
  color: #777;
}

.footer--partLower__Half button {
  display: inline-block;
  border: none;
  outline: none;
  margin: auto 20px;
  color: #777;
}
